/* Stili di base, inclusi vendor prefixes per migliorare il supporto a IE */
body {
  /* Fallback per browser legacy */
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
  
  /* Flexbox con vendor prefixes */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-container {
  position: relative;
  width: 300px;
  height: 12px;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 12px;
  background-color: #E5E5E5;
  border-radius: 13px;
  border: 1px solid #909090;
}

.slider-range {
  position: absolute;
  height: 12px;
  background-color: #007A91; /* colore verde per il range attivo */
  border-radius: 13px;
  border: 1px solid #007A91;
}

.thumb {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 28px;
  background-color: #007A91;
  border-radius: 50%;
  cursor: pointer;
  
  /* Centrare le thumb con vendor prefixes */
  -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}


.slider-display {
  margin-left: 100px;
}