/* Nascondi tooltip nativo IE11/Edge */
input[type="range"]::-ms-tooltip {
    display: none;
}
/* Base */


input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 0px;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 20px; /* deve essere almeno quanto il thumb, ma resta trasparente */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #ddd;
    border-radius: 2px;
    height: 6px; /* track visivo più basso */
    margin-top: 7px; /* centra il track sotto il thumb */
}
input[type="range"]::-ms-fill-upper {
    background: #ddd;
    border-radius: 2px;
    height: 6px;
    margin-top: 7px;
}

input[type="range"]::-ms-fill-upper {
    background: green;
}

/* WebKit (Chrome, Safari, Edge Chromium) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #ddd;
    border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    border: none;
    cursor: pointer;
    margin-top: -7px; /* centra il thumb sopra il track */
    box-shadow: 0 0 0 2px #fff;
}